html, body {
    height: 100%;
    margin: 0;
    background: #1e1e1e;
    color: #dcdcdc;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    margin-top: 3%;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.introduction {
    text-align: center;
    margin: 20px 0;
}

.links {
    display: flex;
    justify-content: center;
}

.links-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.links-list li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #076134;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 5px;
}

a:hover, a:focus {
    color: #076134a6;
    text-decoration: underline;
}

p {
    margin: 0 0 10px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.avatar {
    max-width: 100%;
    height: auto;
}

@media(max-width:375px) {
    .avatar {
        width: 90%;
    }
}

@media(min-width:768px) {
    .avatar {
        width: 80%;
    }
}
